In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as BS

In [3]:
#Number of pages of results

pgs_2016 = 154
pgs_2017 = 147
pgs_2018 = 85
pgs_2019 = 113
pgs_half_2016 = 898
pgs_half_2017 = 892
pgs_half_2018 = 598
pgs_half_2019 = 690

In [10]:
#Base URLs for each race results page

urlbase_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2019 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2019-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2018 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2018-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2017 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2017-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='
urlbase_half_2016 = 'https://www.runrocknroll.com/Events/Nashville/The-Races/Half-Marathon/2016-Results?gender=&agegroup=&bib=&firstname=&lastname=&page='

#### Create an empty dataframe for each year that contains all pages of race results

In [5]:
marathon2019_df = pd.DataFrame()
#page_list_2019 = list(range(1,pgs_2019+1))
base_url = urlbase_2019
for page in range(1,pgs_2019+1):
    url = base_url + str(page)
    response = requests.post(url)
    soup = BS(response.text,'lxml')
    tables = soup.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
    results_list = pd.read_html(str(tables[0]))
    marathon2019_df = marathon2019_df.append(results_list)
marathon2019_df.shape
len(results_list)

1

In [23]:
marathon2019_df

    Overall    Bib             Name      Time
0         1  30001   Travis Peruski  01:37:54
1         2      1   Scott Wietecha  02:34:59
2         3      4    Jordan Wilson  02:35:24
3         4  30034   Steelton Flynn  02:39:59
4         5  30035     Thomas Ellis  02:42:09
..      ...    ...              ...       ...
6     99999  32183   Clarisa Horton  00:00:00
7     99999  31656     Tony Amburgy  00:00:00
8     99999  32258   Krista Zanetti  00:00:00
9     99999  32991     Patrick Kerr  00:00:00
10    99999  32320  Melinda Bennett  00:00:00

[2811 rows x 4 columns]

#### Create Function 
   - which you give iputs: 
       - empty df name
       - base url
       - number of pages

In [8]:
def web_scrape_to_df(base_url_input, page_number_input):
    df = pd.DataFrame()
    base_url = base_url_input
    for page in range(1,page_number_input+1):
        url = base_url + str(page)
        response = requests.post(url)
        soup = BS(response.text,'lxml')
        tables = soup.find_all('table', attrs = {'class': 'table table-responsive table-bordered'})
        results_list = pd.read_html(str(tables[0]))
        df = df.append(results_list)
    return df

In [12]:
marathon_2016_df = web_scrape_to_df(urlbase_2016 ,pgs_2016)
marathon_2016_df.shape

(3842, 4)

#### Run function on all races

#### Concat all the different races into on dataframe and read to csv

In [1]:
# combined_races_df = pd.concat(